body{
    background-image:url('/static/admin/img/上海设计.jpg');
    background-size: cover;
    /*background-color: #66afe9;*/
}
.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
}
.login #header h1 {
    font-size: 25px;
}