{#继承父页面#}
{% extends 'module.html' %}
{#重写content#}
{% block content %}
<div class="content-table">
    <h2>1.气体灭火系统灭火剂选型</h2>
    <!--表9.1,id=29-->

    <h2>2.七氟丙烷气体灭火系统计算</h2>
    <h3>a.七氟丙烷气体灭火系统计算表</h3>
    <!--表9.2-1,id=30-->

    <h3>b.七氟丙烷气体灭火钢瓶选型表</h3>
    <!--表9.2-2,id=34-->

    <h2>3.IG541混合气体灭火系统计算</h2>
    <h3>a.IG541混合气体灭火系统计算表</h3>
    <!--表9.3-1,id=31-->

    <h3>b.IG541混合气体灭火钢瓶选型表</h3>
    <!--表9.3-2,id=32-->

    <h2>4.热气溶胶预制灭火系统计算</h2>
    <!--表9.4,id=33-->

    <h2>5.自定义系统</h2>
    <!--输入文本字段,id=43-->

</div>
{% endblock %}