<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>项目列表-消防系统计算平台</title>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/demo.css">

    <link rel="stylesheet" type="text/css" href="../static/css/jexcel.css" />
	<!--<link rel="stylesheet" href="../static/css/jquery.jexcel.css" type="text/css" />-->
	<style type="text/css">
		#my{
            width: 600px;
			margin: 50px auto;
		}
	</style>
</head>
<body>
	<div class="jq22-container">
		<header class="jq22-header">
			<h1>消防系统计算平台 </h1>
            <p></p>
			<div class="jq22-demo center">
                <a href="project.html" >项目列表</a>
                <a href="Introduction.html" class="current">概况</a>
                <a href="SystemWater.html">消防系统用水量</a>
                <a href="WaterPool.html">消防水池及水箱容积</a>
                <a href="Outdoor.html">室外消火栓系统</a>
                <a href="Indoor.html">室内消火栓系统</a>
                <a href="Auto.html">自动喷水灭火系统</a>
                <a href="Transfer.html">消防转输系统</a>
                <a href="Sprinkle.html">水喷雾灭火系统</a>
                <a href="Gas.html">气体灭火系统</a>
                <a href="Extinguisher.html">灭火器配置</a>
                <a href="Cooling.html">防护冷却系统</a>
			</div>
		</header>
		<div class="content" >
 <form method="post">
     <div class="row">
         <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-3" style="text-align: right"><label>项目名称：</label></div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="pname" name="pname"/>
                    </div>
                </div>
            </div>
     </div>
     <div class="row">
         <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-3" style="text-align: right"><label>项目编号：</label></div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="pnum" name="pnum"/>
                    </div>
                </div>
            </div>
     </div>
     <div class="row">
         <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-3" style="text-align: right"><label>项目概况：</label></div>
                    <div class="col-lg-8">
                        <textarea type="text" class="form-control" id="ptext" name="ptext" rows="5"></textarea>
                    </div>
                </div>
            </div>
     </div>
     <div class="row">
         <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-3" style="text-align: right"><label>设计人：</label></div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="designer" name="designer"/>
                    </div>
                </div>
            </div>
     </div>
     <div class="row">
         <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-3" style="text-align: right"><label>校对人：</label></div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="proofreader" name="proofreader"/>
                    </div>
                </div>
            </div>
     </div>
     <div class="row">
         <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-3" style="text-align: right"><label>专业负责人：</label></div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="chief" name="chief"/>
                    </div>
                </div>
            </div>
     </div>
     <div class="row">
         <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-3" style="text-align: right"><label>审批人：</label></div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="approver" name="approver"/>
                    </div>
                </div>
            </div>
     </div>
     <div class="row">
         <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-3" style="text-align: right"><label>版本号：</label></div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="version" name="version"/>
                    </div>
                </div>
            </div>
     </div>
     <h3>选择项目模块：</h3>
     <div class="row" style="margin-bottom:10px">
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="SystemWater" id="SystemWater" onclick="return false;" checked="checked">
                    </span>
                    <input type="text" class="form-control" disabled value="消防系统用水量">
                </div>
            </div>
         <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="WaterPool" id="WaterPool" onclick="return false;" checked="checked">
                    </span>
                    <input type="text" class="form-control" disabled value="消防水池及水箱容积">
                </div>
            </div>
         <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="Outdoor" id="Outdoor" onclick="return false;" checked="checked">
                    </span>
                    <input type="text" class="form-control" disabled value="室外消火栓系统">
                </div>
            </div>
     </div>
     <div class="row" style="margin-bottom:10px">
         <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="Indoor" id="Indoor" onclick="return false;" checked="checked">
                    </span>
                    <input type="text" class="form-control" disabled value="室内消火栓系统">
                </div>
            </div>
         <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="Auto" id="Auto" onclick="return false;" checked="checked">
                    </span>
                    <input type="text" class="form-control" disabled value="自动喷水灭火系统">
                </div>
            </div>
         <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="Transfer" id="Transfer" onclick="return false;" checked="checked">
                    </span>
                    <input type="text" class="form-control" disabled value="消防转输系统">
                </div>
            </div>
     </div>
     <div class="row" style="margin-bottom:10px">
         <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="Sprinkle" id="Sprinkle" >
                    </span>
                    <input type="text" class="form-control" disabled value="水喷雾灭火系统">
                </div>
            </div>
         <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="Gas" id="Gas">
                    </span>
                    <input type="text" class="form-control" disabled value="气体灭火系统">
                </div>
            </div>
         <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="Extinguisher" id="Extinguisher" onclick="return false;" checked="checked">
                    </span>
                    <input type="text" class="form-control" disabled value="灭火器配置">
                </div>
            </div>
     </div>
     <div class="row" style="margin-bottom:10px">
         <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="Cooling" id="Cooling" onclick="return false;" checked="checked">
                    </span>
                    <input type="text" class="form-control" disabled value="防护冷却系统">
                </div>
            </div>
     </div>
     <input type="submit" class="btn-primary" value="保存">
 </form>
        </div>
	</div>


	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../static/js/jexcel.js"></script>
	<!--<script type="text/javascript" src="../static/js/jquery.jexcel.js"></script>-->

</body>
</html>