{% extends "base.html" %}
{% block title %}<title>{{ cur.0.module_name }}-消防系统计算平台</title>{% endblock %}
{% block extrastyle %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/jsuites.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/jexcel.css' %}" type="text/css"/>
    <script src="{% static 'js/jexcel.js' %}"></script>
    <script src="{% static 'js/jsuites.js' %}"></script>
{% endblock %}

{% block header %}
    {% include "header.html" %}
    {% include "select_module.html" %}
{% endblock %}
{% block content %}
    <div class="jq22-demo center">
        {% if tables %}
            <div>
                {% for var in tables %}
                    <div><a style="color: #000;" href="{% url 'excel' var.id %}">{{ var.table.table_name }}</a>
                        | {{ var.table.catalog }} | {{ var.table.subtitle1 }} | {{ var.table.subtitle2 }} </div>
                {% endfor %}
            </div>
        {% else %}

        {% endif %}
    </div>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script>
        {% for table in tables %}
            //提交保存
            function submit{{ table.id }}() {
                txt = JSON.stringify(table{{ table.id }}.getDataAndFormula(false))
                csrf = $("input[name='csrfmiddlewaretoken']").val()
                $.post("{% url 'excel' table.pid %}", {
                    data: txt,
                    csrfmiddlewaretoken: csrf
                }, function (result) {
                    $.globalMessenger().post({
                        message: result.data,
                        hideAfter: 6,
                        type: result.msg,
                        //showCloseButton: true
                    });
                })
            }

            var beforeChange{{ table.id }} = function(instance, cell, x, y, value) {
                var pos=2
                if ({{ table.id }} == 38)
                    pos=3
                if (x == pos)
                    var title = $(cell).find('.jdropdown-selected').find('.jdropdown-title');
                    if (title!=undefined && title[0] != undefined) {
                        var desc = title[0].innerText;
                        var val = desc.substr(desc.lastIndexOf('计算内径') + 4);
                        table{{ table.id }}.updateCell(parseInt(x)+1,y,val);
                    }
            }
            table{{ table.id }} = jexcel(document.getElementById('table' + {{ table.id }}), {
                data: {{ table.data|safe }},
                columns: {{ table.columns|safe }},
                nestedHeaders: {{ table.nested_header|safe }},
                wordWrap: true,
                allowComments: true,
                onbeforechange: beforeChange{{ table.id }},
                contextMenu: function (obj, x, y, e) {
                    var items = [];
                    if (y != null) {
                        // Insert new row
                        if (obj.options.allowInsertRow == true) {
                            items.push({
                                title: obj.options.text.insertANewRowAfter,
                                onclick: function () {
                                    obj.insertRow(1, parseInt(y));
                                }
                            });
                        }

                        if (obj.options.allowDeleteRow == true) {
                            items.push({
                                title: obj.options.text.deleteSelectedRows,
                                onclick: function () {
                                    obj.deleteRow(obj.getSelectedRows().length ? undefined : parseInt(y));
                                }
                            });
                        }
                    }
                    return items;
                },
                text: {
                    insertANewRowAfter: "插入一行",
                    deleteSelectedRows: "删除选中行"
                },
                //设置合计行的readonly，删除dropdown和checkbox
                updateTable: function(el, cell, x, y, source, value, id) {
                    h = this.data.length - 1
                    tal = {{ table.tal|safe }}  //合计字段
                    if (y == h && tal.length > 0) {
                        cell.classList.remove('dropdown');
                        if(cell.children.length==1)
                            var $child = $(cell).find("input");
                            if($child!=undefined)
                                $child.remove();
                        if (source == '合计' || source == '最大值') {
                            cell.innerHTML = source
                        }
{#                        cell.classList.add('readonly');#}
                    }
                }
            });


            //在合计行上方添加空行，只有一个合计行时减2
            function addrow{{ table.id }}() {
                var com = {{ table.com|safe }} //提示字段
                var fo = {{ table.fo|safe }} //公式字段
                var tal = {{ table.tal|safe }}  //合计字段
                var len = table{{ table.id }}.rows.length
                if (tal.length == 0) {//没有合计字段插入到最后
                    table{{ table.id }}.insertRow(1, len, true)
                    len++
                } else {
                    table{{ table.id }}.insertRow(1, len - 1, true)
                }

                //添加提示信息
                for (i = 0; i < com.length; i++) {
                    table{{ table.id }}.setComments(com[i][0] + String(len), com[i][1])
                }

                //添加公式
                for (i = 0; i < fo.length; i++) {
                    var id = fo[i][0] + String(len)
                    var formula = '=' + fo[i][1].replace(/[A-Z]+/g, function (a) {
                                    if (a.length > 1) {
                                        return a
                                    } else {
                                        return a + len
                                    }
                                })
                    table{{ table.id }}.setValue(id, formula)
                }

                //更新合计公式
                if (tal.length > 0) {
                    for (i = 1; i < tal.length; i++) {
                        formula = '=' + tal[0] + '('
                        id = tal[i] + String(len + 1)
                        formula += tal[i] + 1 + ':' + tal[i] + String(len) + ')'
                        table{{ table.id }}.setValue(id, formula)
                    }
                }
            }
            //初始化表格，添加注释，添加公式，添加合计
            function initRows{{ table.id }}() {
                var com = {{ table.com|safe }} //提示字段
                var fo = {{ table.fo|safe }} //公式字段
                var tal = {{ table.tal|safe }}  //合计字段
                var len = table{{ table.id }}.rows.length
                if (tal.length > 0) {//去掉最后一行
                    len--;
                }
                if (len == 0) {
                    table{{ table.id }}.insertRow(1, len, true)
                    len++
                }
                for (l = 1; l <= len; l++) {
                    //添加注释
                    for (i = 0; i < com.length; i++) {
                        table{{ table.id }}.setComments(com[i][0] + String(len), com[i][1])
                    }
                    //添加公式
                    for (i = 0; i < fo.length; i++) {
                        var id = fo[i][0] + String(l)
                        var formula = '=' + fo[i][1].replace(/[A-Z]+/g, function (a) {
                                    if (a.length > 1) {
                                        return a
                                    } else {
                                        return a + len
                                    }
                                })
                        table{{ table.id }}.setValue(id, formula)
                    }
                }
                //更新合计公式
                if (tal.length > 0) {
                    for (i = 1; i < tal.length; i++) {
                        formula = '=' + tal[0] + '('
                        id = tal[i] + String(len + 1)
                        formula += tal[i] + 1 + ':' + tal[i] + String(len) + ')'
                        table{{ table.id }}.setValue(id, formula)
                    }
                }
            }
            initRows{{ table.id }}();
        {% endfor %}

    </script>
{% endblock %}