<html lang="zh">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://bossanova.uk/jsuites/v2/jsuites.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/demo.css">
<link rel="stylesheet" href="../static/css/jexcel.css" type="text/css"/>
<script src="../static/js/jexcel.js"></script>
<script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>


<body>
<div class="jq22-container">
    <header class="jq22-header">
        <h1>消防系统计算平台 </h1>
        <p></p>
        <div class="jq22-demo center">
            <a href="project.html" class="current">项目列表</a>
            <a href="Introduction.html">概况</a>
            <a href="SystemWater.html">消防系统用水量</a>
            <a href="WaterPool.html">消防水池及水箱容积</a>
            <a href="Outdoor.html">室外消火栓系统</a>
            <a href="Indoor.html">室内消火栓系统</a>
            <a href="Auto.html">自动喷水灭火系统</a>
            <a href="Transfer.html">消防转输系统</a>
            <a href="Sprinkle.html">水喷雾灭火系统</a>
            <a href="Gas.html">气体灭火系统</a>
            <a href="Extinguisher.html">灭火器配置</a>
            <a href="Cooling.html">防护冷却系统</a>
        </div>
    </header>

    <div class="table">
        <h3 style="margin-top: 10px">消防系统用水量</h3>
        <div id="spreadsheet"></div>
        <div>
            <input type='button' class="btn-primary" value='新增' onclick=""/>
            <input type='button' class="btn-primary" value='保存' onclick=""/>
        </div>
    </div>
</div>


<script>
    //公式计算
    var data = [
        ['室外消火栓系统', '建筑类别1', 15, 20, 0.5, true, '=D1*E1*3600/1000', false, '这里是选择依据'],
        ['室内消火栓系统', '建筑类别2', 10, 15, 0.5, false, '=D2*E2*3600/1000', true, '填写选择依据'],
        ['合计', '', , '=SUM(D1:D2)', , , '=SUM(G1:G2)', '',],
        ['最大值', '', , '=MAX(D1:D2)', , , '=MAX(G1:G2)', '',],
    ];

    table = jexcel(document.getElementById('spreadsheet'), {
        data: data,
        columns: [
            {type: 'text', title: '系统名称', width: '100'},
            {type: 'text', title: '建筑类别', width: '100'},
            {type: 'text', title: '最小设计流量(L/s)', width: '100'},
            {type: 'text', title: '设计流量(L/s)', width: '100'},
            {type: 'text', title: '灭火持续时间(h)', width: '100'},
            {type: 'checkbox', title: '是否计入一次灭火设计流量', width: '200'},
            {type: 'text', title: '用水量(m³)', width: '100'},
            {type: 'checkbox', title: '是否计入消防水池容积', width: '180'},
            {type: 'text', title: '备注', width: '100'},
        ],
        nestedHeaders: [
            [
                {title: '', colspan: '1'},
                {title: '', colspan: '1'},
                {title: '', colspan: '1'},
                {title: '', colspan: '1'},
                {title: '', colspan: '1'},
                {title: '', colspan: '1'},
                {title: 'q(B)*t(B)*3600/1000', colspan: '1', alt: 'q(B)*t(B)*3600/1000'},
                {title: '', colspan: '1'},
                {title: '', colspan: '1'},
            ],
            [
                {title: '', colspan: '1'},
                {title: '', colspan: '1'},
                {title: '', colspan: '1'},
                {title: 'q(B)', colspan: '1'},
                {title: 't(B)', colspan: '1'},
                {title: '', colspan: '1'},
                {title: 'V(B)', colspan: '1'},
                {title: '', colspan: '1'},
                {title: '', colspan: '1'}
            ],
        ],
        wordWrap: true,
        allowComments: true,
        contextMenu: function (obj, x, y, e) {
            var items = [];
            if (y == null) {
                // Sorting
                if (obj.options.columnSorting == true) {
                    // Line
                    //items.push({ type:'line' });

                    items.push({
                        title: obj.options.text.orderAscending,
                        onclick: function () {
                            obj.orderBy(x, 0);
                        }
                    });
                    items.push({
                        title: obj.options.text.orderDescending,
                        onclick: function () {
                            obj.orderBy(x, 1);
                        }
                    });
                }
            } else {
                // Insert new row
                if (obj.options.allowInsertRow == true) {
                    items.push({
                        title: obj.options.text.insertANewRowAfter,
                        onclick: function () {
                            obj.insertRow(1, parseInt(y));
                        }
                    });
                }

                if (obj.options.allowDeleteRow == true) {
                    items.push({
                        title: obj.options.text.deleteSelectedRows,
                        onclick: function () {
                            obj.deleteRow(obj.getSelectedRows().length ? undefined : parseInt(y));
                        }
                    });
                }

                /*if (x) {
                 if (obj.options.allowComments == true) {
                 items.push({ type:'line' });

                 var title = obj.records[y][x].getAttribute('title') || '';

                 items.push({
                 title: title ? obj.options.text.editComments : obj.options.text.addComments,
                 onclick:function() {
                 obj.setComments([ x, y ], prompt(obj.options.text.comments, title));
                 }
                 });
                 }
                 }*/
            }
            return items;
        },
        text: {
            insertANewRowAfter: "插入一行",
            deleteSelectedRows: "删除选中行",
            orderAscending: "升序排列",
            orderDescending: "降序排列"
        }
    });
</script>

</body>
</html>