{% extends "base.html" %}
{% block title %}<title>项目列表-消防系统计算平台</title>{% endblock %}
{% block extrastyle %}
    {% load staticfiles %}
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="jq22-demo center">
            <div class="project-btn">
                <button class="btn-primary" onclick="javascrtpt:window.location.href='{% url 'project_add' %}?pk='">
                    创建项目
                </button>
            </div>
            {% if project_list %}
                {% for var in project_list %}
                    <div class="project">
                    <a style="color: #000;" href="{% url 'project_add' %}?pk={{ var.id }}">{{ var.project_name }}</a>
                    <div class="project-dtl">{{ var.project_text | slice:"80" }} </div>
                    <div class="project-dtl">{{ var.user.username }} {{ var.pub_date }}</div>
                    </div>
                {% endfor %}
            {% else %}

            {% endif %}

        </div>
    </div>
{% endblock %}
