<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>水喷雾灭火系统-消防系统计算平台</title>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/demo.css">
	<link rel="stylesheet" href="../static/css/jquery.jexcel.css" type="text/css" />
	<style type="text/css">
		#my{
            width: 800px;
			margin: 50px auto;
		}
	</style>
</head>
<body>
	<div class="jq22-container">
		<header class="jq22-header">
			<h1>消防系统计算平台 </h1>
            <p></p>
			<div class="jq22-demo center">
                <a href="project.html">项目列表</a>
                <a href="index.html">概况</a>
                <a href="SystemWater.html">消防系统用水量</a>
                <a href="WaterPool.html">消防水池及水箱容积</a>
                <a href="Outdoor.html">室外消火栓系统</a>
                <a href="Indoor.html">室内消火栓系统</a>
                <a href="Auto.html">自动喷水灭火系统</a>
                <a href="Transfer.html">消防转输系统</a>
                <a href="Sprinkle.html" class="current">水喷雾灭火系统</a>
                <a href="Gas.html">气体灭火系统</a>
                <a href="Extinguisher.html">灭火器配置</a>
                <a href="Cooling.html">防护冷却系统</a>
			</div>
		</header>
		<div id="my"></div>
	</div>


	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="../static/js/jquery.jexcel.js"></script>
	<script type="text/javascript">
		data = [
		    ['Google', 1998, 807.80],
		    ['Apple', 1976, 116.52],
		    ['Yahoo', 1994, 38.66],
		];

		$('#my').jexcel({ data:data, colWidths: [ 300, 80, 100 ] });
	</script>
</body>
</html>