{#继承父页面#}
{% extends 'module.html' %}
{#重写content#}
{% block content %}
    <div class="content-table">
        <p>1.消防系统用水量</p>
        <!--表2.1-->
        <!--设计流量值参数m1.0.D，A列'室外消火栓系统'a_flow，'室内消火栓系统'i_flow，'自动喷水灭火系统'a_flow t1-->
        <div id="table{{ tables.0.id }}"></div>
        <div>
            <input type='button' class="btn-primary" value='新增' onclick="addrow{{ tables.0.id }}()"/>
            <input type='button' class="btn-primary" value='保存' onclick="submit{{ tables.0.id }}()"/>
        </div>
        {% csrf_token %}
    </div>
{% endblock %}
{% block nav %}
    {{ block.super }}
{% endblock %}
{% block extrajs %}
    {{ block.super }}
{% endblock %}