{#继承父页面#}
{% extends 'module.html' %}
{#重写content#}
{% block content %}
    <div class="content-table">
        <p>1.消防水池容积计算</p>
        <!--表3.1,id=2-->
<div id="spreadsheet"></div>
        <div>
            <input type='button' class="btn-primary" value='新增' onclick="addrow()"/>
            <input type='button' class="btn-primary" value='保存' onclick="submit()"/>
            {% csrf_token %}
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script>
        //提交保存
        function submit() {
//            这是取公式的方法getValue('A1', true); // will return value from a formula
//取值getValue('A1') // will return a formula

            txt = JSON.stringify($('#spreadsheet').jexcel('getDataAndFormula', false))
            csrf = $("input[name='csrfmiddlewaretoken']").val()
            $.post("{% url 'excel' tables.0.pid %}", {data: txt, csrfmiddlewaretoken: csrf}, function (result) {
                $.globalMessenger().post({
                message: result.data,
                hideAfter: 6,
                type: result.msg,
                //showCloseButton: true
                });
            })
        }
        //在合计行上方添加空行，只有一个合计行时减2，没有合计行时不带参数
        function addrow() {
            var len=$('#spreadsheet')[0].jexcel.rows.length
            $('#spreadsheet').jexcel('insertRow')
        }
        //公式计算
        table = $('#spreadsheet').jexcel({
            data: {{ tables.0.data|safe }},
            columns: {{ tables.0.columns|safe }},
            nestedHeaders: {{ tables.0.nested_header|safe }},
            wordWrap: true,
            allowComments: true,
            contextMenu: function (obj, x, y, e) {
                console.log(obj)
                var items = [];
                if (y != null) {
                    // Insert new row
                    if (obj.options.allowInsertRow == true) {
                        items.push({
                            title: obj.options.text.insertANewRowAfter,
                            onclick: function () {
                                obj.insertRow(1, parseInt(y));
                            }
                        });
                    }

                    if (obj.options.allowDeleteRow == true) {
                        items.push({
                            title: obj.options.text.deleteSelectedRows,
                            onclick: function () {
                                obj.deleteRow(obj.getSelectedRows().length ? undefined : parseInt(y));
                            }
                        });
                    }

                }
                return items;
            },
            text: {
                insertANewRowAfter: "插入一行",
                deleteSelectedRows: "删除选中行",
            }
        });
    </script>
{% endblock %}